.profile__info {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 16px 18px;
}

@media screen and (max-width: 625px) {
    .profile__info {
        margin-bottom: 36px;
        grid-template-columns: 18px fit-content(226px) 18px;
        grid-row: 2;
        gap: 7px 10px;
        justify-self: center;
    }
}