.card__likes-counter {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-align: end;
    margin-top: 3px;
    margin-bottom: 0px;
}