.page {
    background-color: #000000;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 60px;
}

@media screen and (max-width: 625px) {
    .page {
        padding-top: 28px;
        padding-bottom: 36px;
    }
}
