.profile__edit-button {
    width: 24px;
    height: 24px;
    margin: 0 0 9px 0;
    padding: 0;
    border: 0;
    line-height: 1;
    background: url(../../../images/edit_button.svg);
    background-size: cover;
    align-self: flex-end;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 625px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-bottom: 7px;
    }
}