.form__input {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17 / 14);
    color: #000000;
    display: block;
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    margin: 0 auto 40px;
    padding-bottom: 13px;
    box-sizing: content-box;
}

.form__input:last-of-type {
    margin-bottom: 44px;
}

@media screen and (max-width: 625px) {
    .form__input {
        width: 238px;
    }
    .form__input:last-of-type {
        margin-bottom: 40px;
    }    
}