.footer {
    width: 880px;
    margin: 66px auto 0;
}

@media screen and (max-width: 925px) {
    .footer {
        width: 581px;
    }
}

@media screen and (max-width: 625px) {
    .footer {
        width: 282px;
        margin-top: 48px;
    }
}