.popup__close-button {
    background: url("../../../images/close_button.svg");
    position: absolute;
    padding: 0;
    border: 0;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

@media screen and (max-width: 625px) {
    .popup__close-button {
        background-size: cover;
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}

.popup__close-button:hover {
    opacity: 0.6;
}