.profile__add-button {
    width: 150px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    background: url(../../../images/add_button-small.svg);
    align-self: center;
    justify-self: end;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 925px) {
    .profile__add-button {
        width: 282px;
        background: url(../../../images/add_button-big.svg);
        grid-row: 2;
        grid-column: 1/3;
        justify-self: center;
    }
}

@media screen and (max-width: 625px) {
    .profile__add-button {
        grid-row: 3;
    }
}