.header {
    margin: 0 auto 40px;
    width: 880px;
    line-height: 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 925px) {
    .header {
        width: 581px;
    }
}

@media screen and (max-width: 625px) {
    .header {
        margin-top: 28px;
        margin-bottom: 42px;
        width: 320px;
    }
}
