.popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}